.avatar {
  width: 400px !important;
  height: 400px !important;
}

.container {
  max-width: 60%;
  word-wrap: break-word;
  margin-left: 5%;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.author {
  display: flex;
  margin-left: 75%;
}

@media (max-width: 1000px) {
  .author {
  }
}
